#headerSection{
    padding: 5px;
   
}

body{ 
    
    background-image:url('https://media.istockphoto.com/id/1356565277/photo/modern-abstract-wavy-background.jpg?s=612x612&w=0&k=20&c=ws5yZzGKVEIPhWtVBvzwvEwimZMIakmZU8HHX5qSQBw=');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#imagecss{
    padding: 10px;
    border: 10px solid black;
    border-radius: 10px;
    width: 50%;
}


#headerSection h1{
    font-style: oblique;
}

input{
    padding: 10px;
    border-radius: 5px;
    width:15%;
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width:15%;
}

#loginbtn{
    padding: 10px;
    font-size:15px;
    border-radius:10px;
    border-color: black;
    background-color:#3498db;
    color:white;
}
